* {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 40px;
  line-height: 1;
  color: #9e9ea7;
  background-color: rgba(47, 47, 47, 0.98);
}

.container {
  padding: 100px;
  text-align: center;
}

.res {
  border-radius: 20px;
}
